@tailwind base;
@tailwind components;
@tailwind utilities;

 
body::-webkit-scrollbar {
  display: none;
}



html{
  scroll-behavior: smooth;
  scrollbar-width: none;  
}



/* no user select */

.ddd {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

button{
  -webkit-tap-highlight-color: transparent;

}

span {
  @apply text-[#03045E];
  @apply font-Poppins;
  @apply dark:text-[#FDECFB];
}

.stripes{
  background: repeating-linear-gradient(
  45deg,
  #F5EE84,
  #F5EE84 10px,
  #FBF8CC 10px,
  #FBF8CC 20px
);
}


@layer utilities {
  .stripes-dark{
    background: repeating-linear-gradient(
    45deg,
    #232300,
    #232300 10px,
    #2F2C01 10px,
    #2F2C01 20px
  );
  }
}


